body {
    margin: 8px;
}

p {
    margin: 8px 0px;
}

.head {
    width: 384px;
}

.head #input{
    width: 300px;
    display: inline-block;
}

.head #btn{
    margin-left: 8px;
    display: inline-block;
}

.body {
    position: relative;
}
.body #qrcode{
    margin-top: 8px;
}

.body #about {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#aboutContent {
    display: none;
}